<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%=title %>
    </title>
    
    <%- include('partials/head.html') %>

</head>

<body>

    <div class="menu-btn">
        <i class="fas fa-bars"></i>
    </div>

    <div class="container p-0">
        
        <%- include('partials/navigation.html') %>

        <section>
            <!-- Modules -->
            <div class="modules">
                <div>
                    <img src="/img/module1.PNG" alt="Module 1">
                    <h3>Criptomonedas</h3>
                    <p>Blockchain, Bitcoin, Token Bitcoins, Minería Bitcoins, fenómeno Halvin.</p>
                    <a href="#">Leer más <i class="fas fa-angle-double-right"></i></a>
                </div>
                <div>
                    <img src="/img/module2.PNG" alt="Module 1">
                    <h3>LocalBitcoins como plataforma única</h3>
                    <p>Apertura de cuentas, intercambios y comercios, sistema de arbitraje, rapidez, seguridad y
                        usabilidad.
                    </p>
                    <a href="#">Leer más <i class="fas fa-angle-double-right"></i></a>
                </div>
                <div>
                    <img src="/img/module3.PNG" alt="Module 1">
                    <h3>Portafolio para medios de pago</h3>
                    <p>Protocolo de seguridad, cuentas bancarias, cuenta Nequi, cuenta PayPal, expansión de medios de
                        pago.
                    </p>
                    <a href="#">Leer más <i class="fas fa-angle-double-right"></i></a>
                </div>
                <div>
                    <img src="/img/module4.PNG" alt="Module 1">
                    <h3>Modelo de negocio</h3>
                    <p>Capitalicación, operatividad, comunicación, valores, marketing y directorio.</p>
                    <a href="#">Leer más <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
            <div class="modules">
                <div>
                    <img src="/img/module5.PNG" alt="Module 1">
                    <h3>Criptomonedas</h3>
                    <p>Blockchain, Bitcoin, Token Bitcoins, Minería Bitcoins, fenómeno Halvin.</p>
                    <a href="#">Leer más <i class="fas fa-angle-double-right"></i></a>
                </div>
                <div>
                    <img src="/img/module6.PNG" alt="Module 1">
                    <h3>LocalBitcoins como plataforma única</h3>
                    <p>Apertura de cuentas, intercambios y comercios, sistema de arbitraje, rapidez, seguridad y
                        usabilidad.
                    </p>
                    <a href="#">Leer más <i class="fas fa-angle-double-right"></i></a>
                </div>
                <div>
                    <img src="/img/module7.PNG" alt="Module 1">
                    <h3>Portafolio para medios de pago</h3>
                    <p>Protocolo de seguridad, cuentas bancarias, cuenta Nequi, cuenta PayPal, expansión de medios de
                        pago.
                    </p>
                    <a href="#">Leer más <i class="fas fa-angle-double-right"></i></a>
                </div>
                <div>
                    <img src="/img/module8.PNG" alt="Module 1">
                    <h3>Modelo de negocio</h3>
                    <p>Capitalicación, operatividad, comunicación, valores, marketing y directorio.</p>
                    <a href="#">Leer más <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        </section>

        <%- include('partials/social.html') %>

    </div>

    <%- include('partials/footer.html') %>

    <%- include('partials/scripts.html') %>
</body>
</html>