<!-- FOOTER -->
<div class="footer-links">
    <div class="footer-container">
        <ul>
            <li>
                <h2>Bincolombia</h2>
            </li>
            <li>
                <a href="https://bincolombia.io/buy/#idea">¿Qué es Bincolombia?</a>
            </li>
            <li>
                <a href="https://bincolombia.io/buy/#idea">Proyecto</a>
            </li>
            <li>
                <a href="https://bincolombia.io/buy/#cripto">Cripto en Colombia</a>
            </li>
            <li>
                <a href="https://bincolombia.io/buy/bin/">Comprar token</a>
            </li>
            <li>
                <a href="https://bincolombia.io/wp/whitepaper.pdf">Whitepaper</a>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Noticias</h2>
            </li>
            <li>
                <a
                    href="https://www.google.com/search?q=noticias+sobre+bitcoin&rlz=1C1UUXU_esCO963CO963&oq=noticias+sobre+bitcoin&aqs=chrome..69i57.6061j0j4&sourceid=chrome&ie=UTF-8">Bitcoin</a>
            </li>
            <li>
                <a href="#">Blockchain</a>
            </li>
            <li>
                <a href="#">Blockchain</a>
            </li>
            <li>
                <a href="#">Blockchain</a>
            </li>
            <li>
                <a href="#">Blockchain</a>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Servicios</h2>
            </li>
            <li>
                <a href="/courses">Cursos</a>
            </li>
            <li>
                <a href="/plans">Planes</a>
            </li>
            <li>
                <a href="/esthetic">Estética Saludable</a>
            </li>
            <li>
                <a href="https://pvcecologyprojects.org">Pvc Ecology Projects</a>
            </li>
        </ul>
        <ul>
            <li>
                <h2>Ayuda</h2>
            </li>
            <li>
                <a href="/contact">Contáctenos</a>
            </li>
            <li>
                <a href="/about-us">¿Quiénes somos?</a>
            </li>
            <li>
                <a href="/mision">Misión</a>
            </li>
            <li>
                <a href="/vision">Visión</a>
            </li>
        </ul>
    </div>
</div>

<footer class="footer">
    <p class="mv0 lh-copy">© 2021 Safe Money Group. Todos los derechos reservados. Made with <i
            class="fas fa-heart"></i> & <i class="fas fa-coffee"></i> in <a
            href="https://www.google.com/maps/place/Medell%C3%ADn, CO" target="_blank"
            class="link color-inherit hover-white">Medellín</a></p>
</footer>
