<header>
    <div class="wrapper">
        <div class="logo">
            <a href="https://groupsafemoney.com/" title="CRIPTOFINANZAS &#8211; Capacitación y Asesoría"><img
                    src="/img/logo.png" alt="Safe Money logo" class="nav-brand"></a>
        </div>
        <nav>
            <a href="/">
                <i class="fas fa-home"></i> Inicio
            </a>
            <a href="/courses">
                <i class="fas fa-book"></i> Cursos
            </a>
            <a href="/parcels">
                <i class="fas fa-paper-plane"></i> Encomiendas
            </a>
            <a href="/plans">
                <i class="fas fa-heartbeat"></i> Planes
            </a>
            <a href="/about-us">
                <i class="fas fa-users"></i> Nosotros
            </a>
            <a href="/contact">
                <i class="fas fa-envelope"></i> Contacto
            </a>

            <a href="#">
                <i class="fa fa-search"></i>
            </a>
        </nav>
    </div>
</header>
<hr color="white">