<section class="social">
    <p>Sígue nuestras redes sociales</p>
    <div class="links">
        <a href="https://www.facebook.com/Group-Safe-Money-109414784565792">
            <i class="fab fa-facebook-f" id=facebook></i>
        </a>
        <a
            href="https://api.whatsapp.com/send?phone=573015048380&text=Criptofinanzas,%20Quisiera%20informaci%C3%B3n%20del%20curso%20intensivo">
            <i class="fab fa-whatsapp" id=whatsapp></i>
        </a>
        <a href="#">
            <i class="fab fa-instagram" id=instagram></i>
        </a>
    </div>
</section>